
/*************************************************************************************************************************************************************************************************************************************************************

"userContent.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's internal site using "chrome" privileges.
For instance, if you want to apply CSS at "about:newtab" and "about:home", you can use the following CSS rule:

***********************************************************************
@-moz-document url-prefix("about:newtab"), url-prefix("about:home") { *
                                                                      *
* Write your css *                                                    *
                                                                      *
}                                                                     *
***********************************************************************

NOTE: You can use the userContent.css file without change preferences (about:config)

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
/* Please write your custom CSS under this line*/

@-moz-document url-prefix(about:newtab), url-prefix(about:home) {
    .logo-and-wordmark { 
display:none !important; 
}

/*ortadaki arama çubuğu*/
.search-wrapper input {
  border-radius: 20px !important;
  background-color: rgba(50, 50, 50, 0.5) !important;
  box-shadow: 0 2px 6px rgba(0, 255, 195, 0.15) !important;
}
.contentSearchSuggestionTable{
  border-radius: 20px !important;
  background: rgba(50, 50, 50, 0.5) !important;
}
.search-wrapper .search-button {
  border-radius: 0px 20px 20px 0px !important;
}
.contentSearchSettingsButton {
display: none !important
}

@media (-moz-bool-pref: "userContent.newTab.animate") and (prefers-reduced-motion: no-preference) and (-moz-bool-pref: "userContent.page.field_border") {
  .search-wrapper .search-inner-wrapper:hover > input, .search-wrapper .search-inner-wrapper:hover > .search-handoff-button {
    border-color: light-dark(#f00, #000) !important;
    transition: border-color 0.5s var(--animation-easing-function) !important;
  }
}

/*kısayol icon*/
.top-site-outer .rich-icon{
  height: 32px !important;
  width: 32px !important; 
inset-inline-start: auto !important;
  top: auto !important;
}

.top-site-outer .tile {
background: rgb(25,25,25,0) !mportant;
height: 32px !important;
  width: 32px !important;
}

.top-site-outer {
  width: 80px !important;
  border: none !important;
}
.top-sites-list {
  display: flex !important;
  justify-content: center !important;
}



@media (-moz-bool-pref: "userContent.newTab.searchbar") {
  .contentSearchSuggestionTable, .contentSearchHeaderRow, .contentSearchHeader, .contentSearchSuggestionsContainer {
    background: rgb(50,50,50,0.5) !important;
  }
}
